<!-- SET UUD TO THAT OF THE JCHROMELAUNCHER -->
<application>
	<name>JChromeLauncher</name>
	<uuid>43a47b6c-6ad9-449c-9ab8-90ca53aab269</uuid>
	<executables>
		<executable os="mac">JChromeLauncher.app/Contents/MacOS/JavaApplicationStub</executable>
	</executables>
	<configs>
	</configs>
	<version>0.9</version>
</application>
