html, body {
   width: 100%;
   height: 100%;
   border: 0px;
   padding: 0px;
   margin: 0px;
   background-color: gray;
	overflow:hidden;
	font-family: Helvetica;
}
html, body {
	/*cursor:none;*/
}
CANVAS {
   background-color: gray;
}
#canvas2d {
   display: none;
   position: absolute;
   top: 0px;
   left: 0px;
   z-index: 3;
}
.fpsContainer {
   position: absolute;
   top: 10px;
   left: 10px;
   z-index: 3;
   color: white;
   font-family: sans-serif;
   background-color: rgba(0,0,0,0.5);
   border-radius: 10px;
   padding: 10px;
}
.fpsContainer a:visited, .fpsContainer a:hover, .fpsContainer a {
   color: white;
   font-size: xx-small;
}
#viewContainer {
   width: 100%;
   height: 100%;
}

iframe 
{
	border:0px none;
	width:100%;
	height:100%;
}

/* UTILS */

.stickLeft
{
	position:relative;
	left:0px;
	float:left;
}

.stickRight
{
	position:relative;
	right:100%;
	float:left;
}


/********************************************************** 
	NAV 
***********************************************************/

#nav
{
	position:absolute;
	top:53px;
	left:73px;
	z-index:500;
}

.navElement
{
	font-size:24px;
	letter-spacing:-1px;
	color:#fff;
	font-weight:bold;
	width:204px;
	height:65px;
	cursor:pointer;
	text-align:center; 
	line-height: 65px;
	margin-right:10px;
	float:left;
}


/********************************************************** 
	QUOTES 
***********************************************************/

	.quote
	{
		position:absolute;
		visibility:hidden;
		display:none;
		padding:20px;
		overflow:hidden;
		width:0px;
		min-height:150px;
		
		/* -- transition is the magic sauce for animation -- */
		-webkit-transition: width .2s ease-in-out;
	}
	
	.qrCodes
	{		
		position:absolute;
		visibility:hidden;
		display:none;
		padding:20px;
		/*height:200px;*/
		display:table;
	}
	
	.quoteText
	{
		color:#fff;
		font-weight:bold;
		vertical-align:middle;
	}
	
	.qrCodeContainer
	{		
		-webkit-transition: width .2s ease-in-out;
	}
	
	.qrCode
	{
		position:relative;
		padding:10px;
		float:left;
		margin-right:40px;
	}
	
	.qrCode img
	{
		width:250px;
	}

/********************************************************** 
	CENTER CONTENT 
***********************************************************/

.centerContent
{
	position:absolute;
	top:0px;
	left:0px;
}

/* YOUTUBE */
	
.youtube
{
	width:1056px;
	height:594px;
	position:absolute;
	left:73px;
	top:197px;
}

.relatedVideosTitle
{
	padding: 20px;
	color:#4355aa;
}

.relatedVideos
{
	padding: 20px;
	width:660px;
	height:75px;
	overflow:hidden;
	display:none;
	visibility:hidden;
	margin-top:15px;
	position:relative;
	background-color:#5c8fef;
}

.relatedVideosContainer
{
	width:99999px;
	position:relative;
}

.relatedVideosContainerContainer
{
	float:left;
	width:610px;
	overflow:hidden;
}

.nextButton
{
	display:table-cell;
	vertical-align:middle;
	padding-left:10px;
	z-index:10;
	padding-right:15px;
	/*float:left;*/
}

.videoIncrement
{
	position:absolute;
	top:33%;
}

.prevButton
{
	display:table-cell;
	vertical-align:middle;
	padding-right:25px;
	/*float:left;*/
}

.playButton
{
	position:absolute;
	top:20%;
	left:40%;
	vertical-align:middle;
}

.relatedVideoEntry
{
	float:left;
	border:1px solid #fff;
	height:75px;
	margin-right:20px;
	position:relative;
}

.relatedVideoImg
{
	height:75px;
	width:110px;
	z-index:100;
	/*width:auto;*/
}

.gradientOverlay
{
	/*z-index:500;*/
	position:absolute;
	top:0px;
	left:90%;
	/*height:100%;*/
	z-index:0;
	display: none;
}

/* COPY */

.content3D
{
	position:relative;
	height:13px;
	/*left:1090px;*/
	/*position:relative;*/
}

.content3DLeft
{
	left:0px;
	position:relative;
	float:left;
}

.content3DCenter
{
	position:relative;
	float:left;
	width:722px;
	height:13px;
}

.content3DRight
{
	position:relative;
	float:left;
}

.contentContainer
{
	/*left:1120px;*/
	line-height:24px;
	position:absolute;
	top:197px;
	left:1160px;
}

.contentBox
{
	position:relative;
	width:660px;
	font-size: 25px;
	color:#fff;
	padding: 20px;
	left:0px;
	max-height:500px;
	overflow:hidden;
	-webkit-transition: width .1s ease-in-out;
}

.subBox
{
	color:#4355aa;
	left:0px;
	/*left:1090px;*/
	/*min-height:412px;*/
	margin-top:15px;
	/*top: 190px;*/
}

h2
{
	font-weight:bold;
	font-size:44px;
	margin: 0px;
	border:0px none;
	padding-bottom:20px;
	-webkit-margin-before:0px;
	-webkit-margin-after:0px;
	-webkit-margin-start:0px;
	-webkit-margin-end:0px;
	line-height:47px;
	letter-spacing: -2px;
}

h3
{
	font-weight:bold;
	font-size:36px;
	padding-bottom:20px;
	-webkit-margin-before:0px;
	-webkit-margin-after:0px;
	-webkit-margin-start:0px;
	-webkit-margin-end:0px;
	line-height:36px;
	letter-spacing: -2px;
}

h4
{
	font-weight:bold;
	font-size:28px;
	padding-bottom:20px;
	-webkit-margin-before:0px;
	-webkit-margin-after:0px;
	-webkit-margin-start:0px;
	-webkit-margin-end:0px;
}
